.whispers-blue {
  color: #2e8fc2;
}

.whispers-dark-blue {
  color: #0a5380;
}

.logo {
  float: left;
  margin-right: 20px;
  width: 96px;
}

.title-container {
  margin-top: 30px;
}

.banner {
  background-color: #2e8fc2;
  height: 200px;
  margin-bottom: 10px;
}

.banner .title {
  color: #fff;
  font-size: 64px;
  margin-bottom: 5px;
  padding-top: 15px;
}

.banner .subtitle {
  font-size: 32px;
  margin-top: 5px;
}

@media (max-width: 400px) {
  .banner {
    height: 160px;
  }
  .banner .title {
    font-size: 32px;
  }
  .banner .subtitle {
    font-size: 16px;
  }
}

.container {
  max-width: 1024px;
}

.banner-container {
  max-width: 768px;
}

.main-content {
  padding-bottom: 30px;
  padding-top: 30px;
}

.blurb {
  font-size: 18px;
}
